
* {
  font-family: "Open Sans";
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  min-height: 100vh;
  background-color: #F5F7FB;
}

.nogamecont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #293264;
  height: 100%;
}

.starttitle {
  margin: 0px;
  font-size: 4rem;
}

.starttext {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 0px;
  color: #fb3310;
}

.ignacio {
  font-size: 1.5rem;
  margin-top: 20px;
  color:#293264;
  margin-bottom: 0px;
}

.grecia {
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 30px;
  color: #293264;
}

.startbutton {
  height: 50px;
  width: 200px;
  color: white;
  font-size: 1.1rem;
  background-color: #4D5B9E;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 450px) {
  .starttitle {
    font-size: 3rem;
    box-sizing: border-box;
  }

  .starttext {
    font-size: 1.1rem;
  }

  .ignacio {
    font-size: 1.1rem;
  }

  .grecia {
    font-size: 1.1rem;
  }
}

.riddleriddle {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.riddle-input-form {
  font-size: 1.5rem;
  width: 100%;
  border-radius: 1000px;
  text-indent: 20px;
  height: 50px;
  border: none;
  outline: 2px solid ;
}

.gamecont {
  display: flex;
  flex-direction: column;
  width: 70%;
  min-width: 700px;
  
}

.fetchingtext {
  color: #293264;
}

.questioncont {
  width: 100%;
  display: flex;
  margin-top: auto;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: left;
}

.question {
  color: #293264;
  font-weight: bold;
  font-size: 1.25rem;
}

.answerscont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 30px;
}

.answer {
  border: 1px solid #293264;
  border-radius: 20px;
  padding: 10px;
  width: calc(25% - 10px);
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}

.separator {
  width: 100%;
  border: 1px solid #D6DBF5;
  opacity: 0.5;
}

.scorecont {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
}

.scoretext {
  font-size: 20px;
  font-weight: bold;
  color: #293264;
  margin-right: 30px;
  margin-bottom: 20px;
}

.scorebutton {
  min-height: 50px;
  width: 200px;
  font-size: 18px;
  background-color: #4D5B9E;
  color: white;
  border: none;
  margin-right: 10px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.scorebutton2 {
  min-height: 50px;
  width: 100%;
  min-width: 200px;
  font-size: 18px;
  background-color: #4D5B9E;
  color: white;
  border: none;
  margin-right: 10px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.form-anchor {
  width: fit-content;
}

@media (max-width: 1700px) {
  .scorebutton {
    width: calc(50% - 10px);
  }

  .form-anchor {
    width: calc(50% - 10px);
  }
}

@media (max-width: 850px) {

  .answerscont {
    margin-bottom: 20px;
  }

  .riddleriddle {
    font-size: 1.75rem;
  }
  

  .answer {
    width: calc(50% - 10px);
    margin-bottom: 10px;
  }

  .gamecont {
    min-width: 450px;
    width: 90%;
  }

}

@media (max-width: 585px) {

  .scorebutton {
    width: 100%;
    margin-right: 0px;
  }

  .riddleriddle {
    font-size: 1.3rem;
  }

  .form-anchor {
    width: 100%;
  }

  .answerscont {
    margin-bottom: 20px;
  }

  .answer {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .gamecont {
    min-width: 250px;
    width: 90%;
  }
  
}