
* {
  font-family: "Open Sans";
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  min-height: 100vh;
  background-color: #F5F7FB;
}

.nogamecont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #293264;
  height: 100%;
}

.starttitle {
  margin: 0px;
  font-size: 64px;
}

.starttext {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 0px;
  color: #fb3310;
}

.ignacio {
  font-size: 24px;
  margin-top: 20px;
  color:#293264;
  margin-bottom: 0px;
}

.grecia {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 30px;
  color: #293264;
}

.startbutton {
  height: 50px;
  width: 200px;
  color: white;
  font-size: 18px;
  background-color: #4D5B9E;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 450px) {
  .starttitle {
    font-size: 50px;
    box-sizing: border-box;
  }

  .starttext {
    font-size: 18px;
  }

  .ignacio {
    font-size: 18px;
  }

  .grecia {
    font-size: 18px;
  }
}

.selectbutton {
  display: flex;
  flex-direction: row;
  padding-bottom: 20vh;
}

.selectcat {
  height: 50px;
  margin-right: 15px;
  font-size: 16px;
  width: calc(100% - 200px + 30px);
  border-radius: 1vh;
  text-indent: 10px;
  cursor: pointer;
}

.gamecont {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.fetchingtext {
  color: #293264;
}

.questioncont {
  width: fit-content;
  display: flex;
  margin-top: auto;
  height: fit-content;
  margin-bottom: calc(10vh - 71px);
  flex-direction: column;
  align-items: left;
}

.question {
  color: #293264;
  font-weight: bold;
  font-size: 20px;
}

.answerscont {
  display: flex;
  align-items: center;
  margin-top: 1vh;
  margin-bottom: 4vh;
}

.answer {
  border: 1px solid #293264;
  border-radius: 20px;
  padding: 10px;
  min-width: 15vh;
  width: fit-content;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}

.separator {
  width: 100%;
  border: 1px solid #D6DBF5;
  opacity: 0.5;
}

.scorecont {
  display: flex;
  align-items: center;
  justify-content: left;
}

.scoretext {
  font-size: 20px;
  font-weight: bold;
  color: #293264;
  margin-right: 3vw;
}

.scorebutton {
  height: 50px;
  width: 200px;
  font-size: 18px;
  background-color: #4D5B9E;
  color: white;
  border: none;
  margin-right: 1vw;
  border-radius: 1vh;
  cursor: pointer;
}